.content {
  display: flex;
  flex: auto;
  flex-direction: row;
  padding: 1em;
  border: 10px solid grey;
  text-align: center;
}
.indexContentWrapper {
  max-width: 1200px;
  max-height: 2400px;
  min-height: 100%;
  padding: 1em;
  display: flex;
  flex: auto;
  flex-direction: column;
  border: 2px solid black;
  background: #f0efef;
}
.indexContentBoxWrapper {
  display: flex;
  flex: auto;
  flex-direction: column;
  padding: 0.5em;
}
.indexContentHorizontalWrapper {
  display: flex;
  flex: auto;
  flex-direction: row;
}
