// YOUR STYLES HERE.


* { // How long did you take to figure this out?
    box-sizing: border-box;
}

// Overall layout.
#app {
    position: relative;
    height: 500px; // Force a height so it can render.
    #left {
        width: 20rem;
        position: absolute;
        left: 0px;
    }

    #right {
        width: auto;
        padding-left: 20rem;
        height: 100%;
    }
}

#left {
    height: 100%;
    display: flex;
    flex-flow: column;
    .header-item {
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
    }
    #sidebar {
        height: auto;
        flex-grow: 1;
        flex-shrink: 1;
    }
}

#right {
    height: 100%;
    display: flex;
    flex-flow: column;

    #header {
        flex-grow: 0;
        flex-shrink: 0;
    }

    .messages {
        height: auto;
        flex-grow: 1;
        flex-shrink: 1;
    }


    .chat-input {
        flex-grow: 0;
        flex-shrink: 0;
    }
}


// Header stuff.

.header-item {
    height: 4rem;
    display: flex; 

    .menu-hamburger{
        flex-grow: 0;
        flex-shrink: 0;
    }

    #search-chats {
        flex-grow: 1;
        flex-shrink: 1;
    }
}

.menu-hamburger {
    padding: 1rem;
    img {
        // Sort-of cheating
            // I can't figure out how to get the height = width
            // without the knowledge that the height of the header is 4rem.
        height: 2rem;
        width: 2rem;
    }
}

// left-animation.

#left-switch {
    display: none;
}

#app {
    #left-switch:checked ~ #left {
        left: -20rem;
        overflow: hidden;
    }

    #left-switch:checked ~ #right {
        padding-left: 0;
    }
}

#left {
    transition-property: left;
    transition-duration: 0.6s;
}

#right {
    transition-property: padding-left;
    transition-duration: 0.6s;
}

// Preload hack.
// Makes animations only play after loading.
// https://css-tricks.com/transitions-only-after-page-load/
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }